# Server Port
PORT=5000

# MongoDB Connection URI
MONGODB_URI=mongodb://127.0.0.1:27017/qflow

# Client Application URL (for CORS configuration)
CLIENT_URL=http://localhost:5173

# JWT Secret Key
JWT_SECRET=
